@import "tailwindcss";


/* Base them (light) */
:root {
  /* Base UI */
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  /* Brand */
  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;

  /* Feedback */
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;

  /* Muted / UI support */
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
}

/* Dark theme */
.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;

  --primary: 217 91% 60%;
  --primary-foreground: 222 47% 11%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --muted: 223 47% 11%;
  --muted-foreground: 215 20% 65%;
}

/* Base body styles */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
